# This .gitignore file was written with VSCode (and Maven) in mind.
# If you use other IDE, please add the relevant IDE-specific files here.

.settings/*
.vscode/*

Common/.settings/*
Common/target/*
Common/.classpath
Common/.factorypath
Common/.project

Bukkit/.settings/*
Bukkit/target/*
Bukkit/.classpath
Bukkit/.factorypath
Bukkit/.project

Sponge/.settings/*
Sponge/target/*
# How does \/ this folder \/ even come to existence?!
Sponge/bin/*
Sponge/.classpath
Sponge/.factorypath
Sponge/.project

Jar/.settings/*
Jar/target/*
Jar/.classpath
Jar/.factorypath
Jar/.project

.project
